.home__container {
    border-radius: 10px;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;

    width: 40vw;
    height: 49vh;
    margin: 0 auto;
    /* overflow-y: scroll; */
}