.item__container {
    padding: 15px 0;
    border-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.item__container .emotion__img__wrapper {
    cursor: pointer;
    min-width: 120px;
    height: 80px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
}

.item__container .emotion__img__wrapper_1 {
    background-color: #fd565f;
}
.item__container .emotion__img__wrapper_2 {
    background-color: #fd8446;
}
.item__container .emotion__img__wrapper_3 {
    background-color: #fdce17;
}
.item__container .emotion__img__wrapper_4 {
    background-color: #9dd772;
}
.item__container .emotion__img__wrapper_5 {
    background-color: #64c964;
}

.item__container .emotion__img__wrapper img {
    width: 50%;
}

.info__wrapper {
    cursor: pointer;
    flex-grow: 1;
    margin-left: 20px;
}

.diary__date {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.diary__content__preview {
    font-size: 18px;
}

.btn__wrapper {
    min-width: 20px;
}