.editor__container {

}

.editor__container section {
    margin-bottom: 40px;
}

.editor__container h4 {
    font-weight: bold;
}

.input__box .input__date {
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
}

.emotion__list__wrapper {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 2%;
}

/*Text area*/
.editor__container textarea {
    /* font-family: ; */
    font-size: 20px;
    box-sizing: border-box;
    width: 60%;
    min-height: 100px;
    resize: vertical; /*가로로 늘릴 수없게 지정*/
    border: none;
    /* border-radius: 5px; */
    background-color: transparent;
    padding: 20px;
    border-top: 2px solid #F95700;
}