.editor__container {

}

.editor__container section {
    margin-bottom: 40px;
}

.editor__container h4 {
    font-weight: bold;
}

.input__box .input__date {
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
}