.tile {
    display: flex;
    margin-bottom: 100px;
}


.title .logo {
    position: absolute;
    width: 200px;
    left: 15%;
    top: 12%;
}

.title__name {
    color: white;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #F95700;
}

@media (max-width: 680px) {
    .title .logo {
        width: 130px;
        left: 10%;
    }
}

@media (max-width: 680px) {
    .title .logo {
        width: 130px;
        left: 10%;
    }
}

@media (min-width: 1000px) {
    .title .logo {
        left: 24%;
    }
}