.tile {
    display: flex;
}


.title .logo {
    position: absolute;
    width: 200px;
    left: 12%;
    top: 15%;
}

.title__name {
    color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

@media (max-width: 680px) {
    .title .logo {
        width: 140px;
    }
}
@media (min-width: 1000px) {
    .title .logo {
        left: 26%;
    }
}