@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body {
  display: flex;
  background-color: #b5cbd6; /*b5cbd6 3E5EF3 #0A174E 019736*/
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}

.App {
  text-align: center;
  padding: 20px;
  /* font-family: 'Noto Serif KR', serif;*/
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #ffa3b2; /*732bbe f3c5d2*/
  /* 확장 그라데이션 PNG는 588ku에 의해 설계되었고,에서 유래되었다. <a href="https://kor.pngtree.com"> Pngtree.com</a> */
  background-image: url("/public/images/bg.png"); 
  background-position: center;
  background-size: auto;
  border: 1px solid black;

  /*min-height: 100vh;*/
}

.App .title {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 25px;
}


@media (min-width: 650px) {
  .App {
    width: 1000px;
    height: 500px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 80vw;
    height: 80vh;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) opx 7px 29px 0px;
}


/*My button */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 18px;
  white-space: nowrap;
  width: 100px;
  margin: 0 auto;
}