@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0px;
}

.App {
  text-align: center;
  padding: 20px;
  font-family: 'Noto Serif KR', serif;
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #f3c5d2; /*732bbe*/
  /* 확장 그라데이션 PNG는 588ku에 의해 설계되었고,에서 유래되었다. <a href="https://kor.pngtree.com"> Pngtree.com</a> */
  background-image: url("/public/images/bg.png"); 
  background-position: center;
  background-size: cover;
}

.App .title {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 25px;
}

/* @media (min-width: 650px) {
  .App {
    width: 640px;
  }
} */

@media (max-width: 650px) {
  .App {
    width: 90wh;
  }
}